<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="a.miracle.lib_zxing" >
    <!--照相机-->
    <uses-permission android:name="android.permission.CAMERA" />
    <!--震动-->
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-feature android:name="android.hardware.camera" /> <!-- 使用照相机权限 -->
    <uses-feature android:name="android.hardware.camera.autofocus" /> <!-- 自动聚焦权限 -->
</manifest>
